body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;
    padding-top: 21px;
}

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.panel-fixed {
    height: 160px;
}

#username {
    width: 100%;
}

.display-name {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.played-time {
    display: block;
    font-size: 16px;
}

.wasted-time {
    display: block;
    font-size: 12px;
}

.switch {
    padding: 0 4px !important;
}

.icon {
    float: left;
    display: block;
    width: 90px;
    height: 90px;
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
}

.vert-middle{
    display: inline-block;
    vertical-align: middle;
}

blockquote {
    margin: 0;
}

.panel-warning blockquote {
    border-color: #ff4309;
}

.panel-danger blockquote {
    border-color: #f0005e;
}

.panel-info blockquote {
    border-color: #7643a8;
}

.bootstrap-switch {
    border-radius: 0;
    margin-bottom: 21px;
}

.bootstrap-switch * {
    border-radius: 0 !important;
}

.bootstrap-switch-large * {
    line-height: 1.75 !important;
}