body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;
    padding-top: 21px;
}

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.panel-fixed {
    height: 160px;
}

#username {
    width: 100%;
}

.display-name {
    display: block;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.played-time {
    display: block;
    font-size: 16px;
}

.wasted-time {
    display: block;
    font-size: 14px;
}

.wasted-time strong {
    font-size: 16px;
}

.disclaimer {
    font-size: 18px;
}

.switch {
    padding: 0 4px !important;
}

#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}
 
#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}
 
#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

.icon {
    float: left;
    display: block;
    width: 110px;
    height: 140px;
    padding: 20px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
}

.icon img {
    width: 100%;
    height: auto;
}

.vert-middle{
    display: inline-block;
    vertical-align: middle;
}

blockquote {
    margin: 0;
}

.panel-warning blockquote {
    border-color: #ff4309;
}

.panel-danger blockquote {
    border-color: #f0005e;
}

.panel-info blockquote {
    border-color: #7643a8;
}