<h2 class="uk-modal-title">About</h2>
<p>Time Wasted on Destiny is a website that tells you how much time you've poured into the Destiny series.
    On top of this, it is the only website that tells you just how much time you've spent on deleted characters, which you could consider wasted time.</p>
<h2 class="uk-modal-title">How to use</h2>
<p>Using Time Wasted on Destiny is very simple. First, enter your Playstation Network ID, Xbox Live Gamertag or Battle.net ID into the search box.
    You can add more than one username by separating them with a comma (,). You can then share that page with your friends and brag!</p>
<h2 class="uk-modal-title">FAQ</h2>
<dl class="uk-description-list uk-description-list-divider">
    <dt>What activities count in the time played?</dt>
    <dd>Only the time you spend shooting at stuff (not in orbit, loading or in social spaces) is counted towards your time played (and wasted).</dd>
    <dt>Why is my username not working?</dt>
    <dd>Make sure you typed your Playstation Network ID, Xbox Live Gamertag or Battle.net ID correctly. If you still experience problems, please submit an issue <a href="https://github.com/BinarMorker/TimeWastedOnDestiny/issues">here</a>.</dd>
    <dt>Why is another player showing up when I'm searching for my username?</dt>
    <dd>It is possible that another player uses the same name as you on another platform. If you simply don't see your account there, make sure you typed your username correctly.</dd>
</dl>
<h2 class="uk-modal-title">Developers</h2>
<p>There is an API accessible here: <a href="https://github.com/BinarMorker/TimeWastedOnDestiny">Documentation</a>.</p>
<h2 class="uk-modal-title">Disclaimer</h2>
<p>Time Wasted on Destiny is not affiliated with <a href="https://bungie.net">Bungie</a>.
    Destiny is a registered trademark of Bungie and Activision.</p>
<h2 class="uk-modal-title">Bottom line</h2>
<p>Thank you very much for using my website. If you like it, please help me by <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5YLYAY74SZP6W">donating</a>!
    If you are on Android, don't miss out on the <a href="https://play.google.com/store/apps/details?id=com.wastedondestiny.timewastedondestiny">app!</a>
    Here are some of the people without whom this website would not exist:</p>
<ul>
    <li><a href="#" data-bind="click: function() { fetchAccount(-1, 9341839) }">Tommy Teasdale for helping me find ideas and crush bugs</a></li>
    <li><a href="https://bungie-net.github.io/">Bungie who made their API accessible</a></li>
    <li><a href="https://www.reddit.com/r/DestinyTheGame/">/r/DestinyTheGame for supporting and sharing my project</a></li>
    <li><a href="httpa://destinydevs.github.io/BungieNetPlatform/">lowlines for his awesome documentation</a></li>
    <li><a href="https://www.hdce.ca/en/">HDCE for hosting my site</a></li>
</ul>