<template>
  <button class="button" @click="toggle" :class="[ filter, { disabled: disabled } ]">
    <slot />
  </button>
</template>

<script>
export default {
  computed: {
    disabled () {
      return this.$store.getters['accounts/filters'].indexOf(this.filter) !== -1
    }
  },
  methods: {
    toggle () {
      this.$store.commit('accounts/toggle', this.filter)
    }
  },
  props: {
    filter: {
      type: String,
      required: true,
      validator (value) {
        return [
          'destiny',
          'destiny2',
          'playstation',
          'xbox',
          'steam',
          'stadia',
          'epic'
        ].indexOf(value) > -1
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.button {
  border: 0;
  min-width: 100px;
  height: 35px;
  border-radius: 18px;
  background-color: #70489a;
  font-size: 14px;
  font-weight: 500;
  padding: 0 1em;
  text-align: center;
  color: #ffffff;
}

.button:hover,
.button:active,
.button:focus {
  color: #ffffff !important;
}

.button:hover {
  background: #8958bd;
}

.button.steam {
  background: linear-gradient(270deg, $steam 0, $steamGradient);
}

.button.steam:hover {
  background: linear-gradient(270deg, $steamLight 0, $steamGradientLight);
}

.button.stadia {
  background: linear-gradient(270deg, $stadia 0, $stadiaGradient);
}

.button.stadia:hover {
  background: linear-gradient(270deg, $stadiaLight 0, $stadiaGradientLight);
}

.button.epic {
  background: linear-gradient(270deg, $epic 0, $epicGradient);
}

.button.epic:hover {
  background: linear-gradient(270deg, $epicLight 0, $epicGradientLight);
}

.button.playstation {
  background: linear-gradient(270deg, $playstation 0, $playstationGradient);
}

.button.playstation:hover {
  background: linear-gradient(270deg, $playstationLight 0, $playstationGradientLight);
}

.button.xbox {
  background: linear-gradient(270deg, $xbox 0, $xboxGradient);
}

.button.xbox:hover {
  background: linear-gradient(270deg, $xboxLight 0, $xboxGradientLight);
}

.button.disabled {
  background: #2e2e2e none !important;
  color: #888888 !important;
}
</style>
