<template>
  <div class="filters">
    <span class="text is-block-touch">Exclude from search results : </span>
    <div class="is-inline-desktop is-block-touch">
      <exclude-button class="button" filter="destiny">DESTINY</exclude-button>
      <exclude-button class="button" filter="destiny2">DESTINY 2</exclude-button>
    </div>
    <div class="is-inline-desktop is-block-touch">
    <div class="separator is-hidden-touch"></div>
      <exclude-button class="button" filter="epic">EPIC</exclude-button>
      <exclude-button class="button" filter="stadia">STADIA</exclude-button>
      <exclude-button class="button" filter="steam">STEAM</exclude-button>
      <exclude-button class="button" filter="playstation">PLAYSTATION</exclude-button>
      <exclude-button class="button" filter="xbox">XBOX</exclude-button>
    </div>
  </div>
</template>

<script>
import ExcludeButton from './ExcludeButton'

export default {
  components: {
    ExcludeButton
  }
}
</script>

<style scoped>
.filters {
  width: 100%;
  text-align: center;
}

.filters .button {
  vertical-align: middle;
  margin-left: 1em;
}

@media screen and (max-width: 1087px) {
  .filters .button {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.text {
  font-size: 16px;
  color: #adadad;
}

.separator {
  margin-left: 1rem;
  display: inline;
}
</style>
