<template>
  <div class="ls" v-click-outside="close" :title="$t('header.language')">
    <label class="ls-label">{{ $t('header.language') }}</label>
    <a class="ls-button" href="#" @click.prevent="toggle">
      <font-awesome class="ls-icon" icon="globe" />
      <slot :name="selected" />
    </a>
    <div class="ls-options" v-if="open">
      <a class="ls-option" :class="{ selected: option.value === selected }" :disabled="option.value === selected" href="#" @click.prevent="select(option)" v-for="(option, i) in locales" :key="i">
        <span>{{ option.name }}</span>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      open: false,
      selected: this.$i18n.locale,
      locales: [
        { value: 'en', name: 'English' },
        { value: 'fr', name: 'Français' }
      ]
    }
  },
  methods: {
    toggle () {
      this.open = !this.open
    },
    close () {
      this.open = false
    },
    select (option) {
      this.$i18n.locale = option.value
      this.selected = this.$i18n.locale
      localStorage.setItem('locale', this.$i18n.locale)
      location.reload()
      this.close()
    }
  },
  mounted () {
    this.$i18n.locale = localStorage.getItem('locale') || 'en'
    this.selected = this.$i18n.locale
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.ls {
  position: relative;
  margin-right: 1.5rem;
}

.ls-label {
  display: none;
}

.ls-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #adadad;
}

.ls-button:hover {
  color: #363636;
}

.ls-options {
  background: #fff;
  position: absolute;
  left: -67.5px;
  margin-top: 12px;
  width: 150px;
  padding: 4px 0;
  border-radius: 4px;
  z-index: 9999;
  box-shadow: 1px 1px 4px #000;
}

.ls-options::after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: 72.5px;
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 5px;
}

.ls-options::before {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 71.5px;
  border: solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  border-width: 6px;
}

.ls-option {
  color: #000;
  width: 100%;
  display: flex;
  padding: 4px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.ls-option[disabled] {
  cursor: default;
  background: rgba(0, 0, 0, 0.1);
}

.ls-option:not([disabled]):hover {
  background: rgba(0, 0, 0, 0.1);
}

.ls-icon {
  width: 20px;
  height: 24px;
  color: currentColor;
}
</style>
