<template>
  <div v-if="updateAvailable" class="refresh-warning">
    <strong class="refresh-warning-title">New update available!</strong>
    <p class="refresh-warning-text">Close "Time Wasted on Destiny" completely to refresh</p>
  </div>
</template>

<script>
import * as serviceWorker from '../serviceWorker'

export default {
  data () {
    return {
      updateAvailable: false
    }
  },
  created () {
    const self = this
    serviceWorker.register({
      onUpdate () {
        self.updateAvailable = true
      },
      onSuccess () { }
    })
  }
}
</script>

<style scoped>
.refresh-warning {
  width: 100%;
  padding: 8px;
  background: rgba(240, 210, 0, 1);
  color: rgba(0, 0, 0, 0.6);
}

.refresh-warning-title {
  padding-right: 5px;
}

.refresh-warning-text {
  display: inline;
}
</style>
