// Colors
$headerColor: rgba(255, 255, 255, 0.1);
$backgroundColor: #3f2c42;//#11261e;//#121726;//#090912;
$overlayColor: rgba(255, 255, 255, 0.2);//#3d785c;//#637289;

$global: #d1818e;//#60c894;//#6c82e9;
$globalGradient: #265c8a;//#3d785c;//#70489a;
$globalLight: lighten($global, 15%);
$globalGradientLight: lighten($globalGradient, 15%);

$playstation: #013682;
$playstationGradient: #3a87ba;
$playstationLight: lighten($playstation, 15%);
$playstationGradientLight: lighten($playstationGradient, 15%);

$stadia: #f34c23;
$stadiaGradient: #a31561;
$stadiaLight: lighten($stadia, 15%);
$stadiaGradientLight: lighten($stadiaGradient, 15%);

$steam: #1d2c40;
$steamGradient: #29435a;
$steamLight: lighten($steam, 15%);
$steamGradientLight: lighten($steamGradient, 15%);

$xbox: #177a18;
$xboxGradient: #2a9917;
$xboxLight: lighten($xbox, 15%);
$xboxGradientLight: lighten($xboxGradient, 15%);

$epic: #db7c00;
$epicGradient: #ec6b2d;
$epicLight: lighten($epic, 15%);
$epicGradientLight: lighten($epicGradient, 15%);
